*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}
  
body {
  font-weight: 400;
  line-height: 1.6;
 }

.react-switch-handle{
    height: 11px !important;
    width: 11px !important;
    background: rgb(31, 31, 31) !important;
    transform: translateX(16px) ;
    top: 2px !important;
    transition: transform 0.25s ease 0s ;
}

.dODGfY {
  color:#BFBFBF !important;
  background-color: #081028 !important;
}
.hSQKHD {
  color:#BFBFBF !important;
  background-color: #081028 !important;
  border-top :1px solid rgb(126, 137, 172,0.3);
}