
body, html {
    height: 100%; 
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B1739;
  }
  
  .object_title,
  .plan-title,
  .subscription-price,
  .per-month,
  .rate-limit,
  .plan-heading
  {
    font-family: 'Inter', sans-serif;
    color: #eeeeee;
    text-align: center; 
  }
  
    .subscription-plans-container {
      background-color: #0A1330;
  
      width: 100%;
      margin: 0 auto; 
      display: flex; 
      flex-direction: column; 
      align-items: center; 
  }
  .object_title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
    margin-top: 90px;
    margin-right: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
  
  }
  
  .plans-wrapper {
    display: flex;
  }
  
  .plan-item {
    margin-right: 20px;
  }
  
  
  .subscription-price,
  .rate-limit {
    margin-top: 10px;
  }
  
  
  .plan-container {
    border: 1px solid #0B1739;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 60px;
    background-color: #0B1739;
    margin-top: 40px; 
    width : 250px;
    height: 75%;
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;

  }
  .plan-item {
    margin-right: 20px;
    position: relative; 
  }
  
  .plan-container::before,
  .plan-container::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 5px;
    pointer-events: none;
  }
  
  .plan-container::before {
    box-shadow: 0px 0px 10px 3px #21C3FC;
    transition: box-shadow 0.3s; 
    opacity: 0;
  }
  
  .plan-container::after {
    box-shadow: 0px 0px 10px 3px #21C3FC;
    transition: box-shadow 0.3s; 
    opacity: 0;
  }
  
  .plan-container:hover::before,
  .plan-container:hover::after {
    opacity: 1;
  }
  
  
  .plan-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    color: #21C3FC;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center; 
  }
  
  .subscription-price {
    font-size: 30px;
    display : flex ;
    font-family: 'Inter', sans-serif;
    color: #eeeeee;
    justify-content: center; 
    align-items: center; 
  }
  
  .per-month {
    font-size: 14px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: #eeeeee;
  
  }
  
  .rate-limit {
    
    margin-bottom: 3px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #eeeeee;
    justify-content: center; 
    align-items: center; 
  
  
  }
  .subscribe-button {
    background-color: #eeeeee;
    width: 116px;
    height: 38px;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #0A1330;
    justify-content: center; 
  }
  
  .plan-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #eeeeee;
    width: 347px;
    height: 32px;
    margin: 0 auto ; 
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
  
    justify-content: center;
  
  }
  
  
  .subscribe-button:hover {
    background-color: #FDB52A;
    cursor: pointer;
  
  
  }
  
  
  .payment-page-container {
    display: flex;
    justify-content: space-between;
    background-color: #0A1330;
    width: 1200px;
  
  
  }
  .plan-details-container-principal
  {
    display : flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;

  
  }
  .plan-details-container plan-details,
  .included-details {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; 
  }
  .selected-plan-container{
    width: 70%;
    padding: 20px;
    border: 1px solid #0B1739;
    border-radius: 5px;
    color: #eeeeee;
    background-color: #0B1739;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  
  }
  .payment-summary-container {
    width: 30%;
    padding: 20px;
    border: 1px solid #0B1739;
    border-radius: 5px;
    color: #eeeeee;
    background-color: #0B1739;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Inter', sans-serif;

  }
  
  .selected-plan-container h2,
  .payment-summary-container h2 {
    text-align: center;
    color: #eeeeee;
  }
  
  .plan-details-container {
    width: 120px; 
    height: 50px; 
    background-color: #0B1739; 
    border: 1px solid #ccc;
    padding: 20px;
  
  
  }
  
  .plan-details-container p  {
   align-items: center;
  }
  
  .plan-details {
    font-size: 16px; 
  }
  
  .plan-details h3 {
    margin-top: 0; 
    font-family: 'Inter', sans-serif;

  }
  
  .plan-details p {
    margin: 10px 0;
    font-family: 'Inter', sans-serif;

  }
  
  
  .payment-methods,
  .confirm-payment {
    margin-top: 20px;
  }
  
  .payment-methods button {
    border: none;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;

  
  }
  
  
  .payment-methods button div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .payment-methods button img {
    margin-bottom: 5px; 
    
  }
  .payment-methods button span {
    color:#eeeeee; 
    
  }
  
  
  .payment-methods button img {
    width: 100px;
    height: 70px;
    cursor:pointer;
  }
  
  .confirm-payment button {
    width: 100%;
    padding: 10px;
    background-color: #eeeeee;
    color:#0B1739; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .confirm-payment button:hover {
    background-color: #FDB52A;
    color:#eeeeee;
  }
  
  .terms-of-use {
    margin-top: 20px;
    text-align: center;
    color: #eeeeee;
  }
  
  .terms-of-use {
   font-size: 10px;
   color: #eeeeee;
   margin-top: 0px;
   font-family: 'Inter', sans-serif;

  }
  .separator {
    margin: 20px 0; 
    border: none; 
    border-top: 0.5px solid #eeeeee; 
  }
  
  .payment-methods .selectedButton {
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px #21C3FC; 
    transition: box-shadow 0.3s;
  }
  
  .payment-methods button img {
    width: 100px; 
    height: auto;
  }

  .selected-plan-container h2
  {
    font-family: 'Inter', sans-serif;

  }
  .payment-methods p {
    font-family: 'Inter', sans-serif;

  }