
  .plan-container::before,
  .plan-container::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 5px;
    pointer-events: none;
  }
  .plan-container::before {
    box-shadow: 0px 0px 10px 3px #21C3FC;
    transition: box-shadow 0.3s; 
    opacity: 0;
  }
  .plan-container::after {
    box-shadow: 0px 0px 10px 3px #21C3FC;
    transition: box-shadow 0.3s; 
    opacity: 0;
  }
  .plan-container:hover::before,
  .plan-container:hover::after {
    opacity: 1;
  }
  
  .payment-methods .selectedButton {
    box-shadow: 0px 0px 10px 3px #21C3FC;}
  
  